{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
   <h1 style="text-align: center;"> Welcome {{ user }} edit yours Blogs</h1>
   
    <form method="post" class="mt-5 pt-5 mb-5 pb-5" enctype="multipart/form-data">
        {% csrf_token %}
                
                {{form.media}}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary mt-4">Update Blog</button>
    </form>

</body>
</html>
